extends main.pug

include ./mixins.pug

block content
  #forecast-results
    button.pure-button(onclick="gotForecast.download.passWholePage()") download pic
    h1 Your forecast!

    .results-table
      .pure-g.header
        .pure-u-1-2.results-column
          h2 Alive
          each a in alive
            .alive-card.card.pure-g
              .pure-u-1-4
                img(src=`/images/${a.id}.jpg`)
              .pure-u-3-4
                p.name=a.nameToDisplay

        .pure-u-1-2.results-column
          h2 Dead
          each d in dead
            .dead-card.card.pure-g
              .pure-u-1-4
                img(src=`/images/${d.id}.jpg`)
              .pure-u-3-4
                p.name=d.nameToDisplay
