extends main.pug

block content
  #landing
    h1 Game of Thrones Forecast!
    h3 Are you able to predict what's happening on 8th season?

    .instructions
      h3 Instructions
      p Predict if each character will be alive or dead at the end of season 8. 1 point for each correct answer. Compete with your friends to check who gets the highest score!

    a.pure-button(href="/quest") Do our quest now!
