link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous")
link(rel="stylesheet" type="text/css" href="/styles/index.css")

#landing
  h1 GOT Forecast!
  h3 Are you able to predict what's happening on 9th season?

  a.pure-button(href="/quest") Do our quest now!