extends main.pug

include ./mixins.pug

block content
  #quest
    // new form will get sent on script "submitForm" on a new form element
    form(name="forecast")
      .pure-g.items-container
        - const length = characters.length
        each c in characters
          .pure-u-1.pure-u-md-12-24.pure-u-lg-8-24.item-container
            +characterItem(c, length)

      .button-container
        if lastPage
          button#button.custom--button.huge(onclick="gotForecast.formHandler.submitForm(forecast)") submit
        else
          button#button.custom--button.huge(
            onclick=`gotForecast.formHandler.storeAnswers(forecast, ${parseInt(page) +1})`,
            disabled) Next &rarr;
