#quest
  h3 Instructions
  ol
    li Predict if each character will be alive or dead at the end of season 8. 1 point for each correct answer
    li If you blablabla
    li Correctly answer Bonus Questions for more points
    li Entry with the most points wins the entire pool.
  form
    each c in characters
      label(for="")= c
        input(type="checkbox")
