extends main.pug

include ./mixins.pug

block content
  #quest
    // new form will get sent on script "submitForm" on a new form element
    form(
      name="forecast")
      .header
        .pure-g
          .pure-u-1-4 Character
          .pure-u-1-4 Alive
          .pure-u-1-4 Dead
          .pure-u-1-4 White Walker?
      each c in characters
        +characterForm(c)
      

      if lastPage
        a.pure-button(onclick="gotForecast.formHandler.submitForm(forecast)") submit
      else
        a.pure-button(onclick=`gotForecast.formHandler.storeAnswers(forecast, ${parseInt(page) +1})`) Next
  
  #dialog(onclick="gotForecast.pictureHandler.closePicture()")
    +dialogCharacterInfo()
