extends main.pug

include ./mixins.pug

block content
  #quest
    form(
      action="/submit",
      method="POST",
      name="forecast")
      .header
        .pure-g
          .pure-u-1-4 Character
          .pure-u-1-4 Alive
          .pure-u-1-4 Dead
          .pure-u-1-4 White Walker?
      each c in characters
        +characterForm(c)
      

      if lastPage
        button.pure-button(type="submit") submit
      else
        a.pure-button(onclick="gotForecast.formHandler.storeAnswers(forecast)") Next
  
  #dialog(onclick="gotForecast.pictureHandler.closePicture()")
    +dialogCharacterInfo()
