<!DOCTYPE html>
html(lang="en")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-86407936-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-86407936-2');

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title GoT Forecast
    link(rel="stylesheet" type="text/css" href="/styles/index.css")
    base(href="/")

    // Whatsapp and RRSS info to share
    meta(property='og:site_name', content='GoT Forecast')
    meta(property='og:title', content='GoT Forecast')
    meta(property='og:description', content='Who is surviving the upcoming season? Do the test now!')
    meta(property='og:image', itemprop='image', content='/images/map.jpg')
  body

    #main-container
      #aheader(onclick="window.open('/advertise');")
        h3 Advertise here! Click to know how.
      block content

    script(src="/script/index.js")
