.modal {
  background-color: $transparentGray;
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  cursor: pointer;
  //transition: 0.2s;
  // display: none;
  
  &-content {
    transform: translateY(-500px);
    width: 50%;
    height: 300px;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: $borderRadius;
    padding: 20px;
    z-index: 2;

    h3 {
      color: $jonquil;
      text-align: center;
    }

    label {
      display: block;
      color: $darkSlateGray;
      width: 100%;
      margin-bottom: 20px;

      input {
        width: 100%;
      }
    }

    #link-container {
      display: none;
      align-items: center;
      justify-content: space-between;
      
      label {
        width: 90%;
      }

      span {
        color: $jonquil;
        padding-right: 10px;
      }
      
      span.animate {        
        animation: 1600ms pulsate infinite alternate ease-in-out;
      }

      @keyframes pulsate {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
      }
    }
  }
}


#share:target {
  width: 100%;
  height: 100%;
  z-index: 1;

  .modal-content {
    transform: translateY(50%);
    transition: transform 300ms linear;

    label {
      color: $richBlack;
      font-size: 1.3em;
      font-weight: 500;
      input {
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        background-color: $jonquil;
        color: white;
        margin-top: 5px;
      }
    }
  }
}

@mixin yAxisStart() {
  transform: translateY(-1200px);
}

.empty{
  width: 0 !important;
}

#forecast-results {
  letter-spacing: normal;

  .header {
    @include yAxisStart();
    padding: 25px 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    h1 {
      margin: 0;
    }
    .claim {
      box-sizing: border-box;
      
      .button {
        cursor: pointer;
        width: 50%;
        text-align: center;
        float: right;
        width: 100%;
      }
    }
  }

  .score {
    @include yAxisStart();
    background-color: white;
    color: $jonquil;
    padding: 15px;
    border-radius: $borderRadius;
    align-items: center;
    display: flex;
    justify-content: space-around;

    .bar-container {
      width: 100%;
    }

    h3 {
      margin: 0;
      margin-bottom: 20px;
    }

    &-bar {
      position: relative;
      height: 20px;
      width: 100%;
      background-color: lightgray;
      height: 20px;
      width: 100%;

      &-correct {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: all 1s ease-in-out;
        background-image: $yellowGradient;
      }
    }

    &-number-container {
      text-align: center;
      padding: 0 30px 0 50px;

      p {
        margin: 0;
        font-size: 2em;
        font-weight: 700;
      }
    }
  }

  .results-table {
    @include yAxisStart();

    .header-table {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
    }

    div {
      text-align: center;
    }

    .results-column {
      padding: 10px;
      box-sizing: border-box;
      background-color: #5a5f66;

      .card {
        padding: 10px;
        background-color: white;
        border-radius: $borderRadius;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        font-weight: 500;
        color: $darkSlateGray;
        margin: 10px;

        .image {
          width: 100px;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }

        .info {
          margin: 0 auto;

          .name {
            font-weight: 700;
          }

          .status {
            text-align: right;
            span {
              letter-spacing: initial;
              font-size: 0.7em;
            }
          }
        }
      }
      .card.alive-card {
        border-left: 5px solid $lightGreen;
      }
      .card.dead-card {
        border-left: 5px solid $sunsetOrange;
      }

    }
  }
}

.slideDown {
  transition: transform 0.3s ease-in-out;
  transform: translateY(0) !important;
}

@media screen and (max-width: 568px) {
  #share:target {  
    .modal-content {
      padding: 10px;
      width: 75%;

      
      label {
        font-size: 1em;
        font-weight: 500;
        width: 100%;
        input {
          padding: 3px;
        }
      }
      #link-container {
        flex-direction: column;
      }
    }
  }
  #forecast-results {
    .header {
      h1 {
        margin-bottom: 20px;
        font-size: 1.5em;
      }

      .claim {
        .button {
          width: 100%;
          box-sizing: border-box;
        }
      }
    }

    h2 {
      letter-spacing: normal;
    }

    .results-column {
      margin: 0  0 10px 0 !important;
    }
  }
}