.modal {
  background-color: $transparentGray;
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  cursor: pointer;
  //transition: 0.2s;
  // display: none;
  
  &-content {
    transform: translateY(-500px);
    width: 50%;
    height: 300px;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: $borderRadius;
    padding: 20px;
    z-index: 2;

    h3 {
      color: $jonquil;
      text-align: center;
    }

    label {
      display: block;
      color: $darkSlateGray;
      width: 100%;
      margin-bottom: 20px;

      input {
        width: 100%;
      }
    }

    #link-container {
      display: none;
      align-items: center;
      justify-content: space-between;
      
      label {
        width: 90%;
      }

      span {
        color: $jonquil;
        padding-right: 10px;
      }
      
      span.animate {        
        animation: 1600ms pulsate infinite alternate ease-in-out;
      }

      @keyframes pulsate {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
      }
    }
  }
}


#share:target {
  width: 100%;
  height: 100%;
  // display: block;

  .modal-content {
    transform: translateY(50%);
    transition: transform 300ms linear;

    label {
      color: $richBlack;
      font-size: 1.3em;
      font-weight: 500;
      input {
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        background-color: $jonquil;
        color: white;
        margin-top: 5px;
      }
    }
  }
}

#forecast-results {

  .header {
    padding: 25px 0;
    margin-top: 20px;
    h1 {
      margin: 0;
    }
    .claim {
      box-sizing: border-box;
      
      .button {
        cursor: pointer;
        width: 50%;
        text-align: center;
        float: right;
      }
    }
  }
  .results-table {

    div {
      text-align: center;
    }

    .results-column {
      padding: 10px;
      box-sizing: border-box;
      background-color: #5a5f66;

      .card {
        padding: 10px;
        background-color: white;
        border-radius: $borderRadius;
        display: flex;
        align-items: center;
        font-size: 1em;
        font-weight: 500;
        color: $darkSlateGray;
        margin: 10px;
  
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .card.alive-card {
        border-left: 5px solid $lightGreen;
      }
      .card.dead-card {
        border-left: 5px solid $sunsetOrange;
      }
    }
    .results-column.alive-column {
      margin-right: 10px;
    }
    .results-column.dead-column {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 568px) {
  #forecast-results {
    .header {
      h1 {
        margin-bottom: 20px;
        font-size: 1.5em;
      }

      .claim {
        .button {
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
    h2 {
      letter-spacing: normal;
    }
  }
}