#landing {
  padding: 50px;
  text-align: center;

  h1 {
    font-size: 3em;
    @include gradientText($yellowGradient);
  }

  .instructions {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  #landing {
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  #landing {
    padding: 15px;
 
    h1 {
      font-size: 2em;
    }

    h3 {
      font-size: 1em;
    }

    .instructions {
      p {
        font-size: 0.9em;
      }
    }
  }
}
