@import './purecss';

@import './variables';

@import './landing';
@import './quest';
@import './forecastResults';


body {
  // background-color: #43464B;
}
#main-container {
  max-width: 1000px;
  margin: 0 auto;
  color: $richBlack;

  #ad-container {
    width: 100%;
    height: 100px;
    background-color: $darkSlateGray;
  }
}

#header {
  width: 100%;
  background-color: #1e1e1e;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  
  p {
    color: white;
  }
}

.custom--button {
  padding: 10px 20px;
  border-radius: $borderRadius;
  background-color: $jonquil;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.custom--button.huge {
  padding: 25px 50px;
  font-size: 1.5em;
  font-weight: 500;
}