#quest {

}

#dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  #dialog-content {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: red;
    display: flex;
    p {
      margin: auto;
    }
  }

}

#dialog.opened {
  visibility: visible;
}
