#quest{
  padding-bottom: 30px;

  label {
    margin-right: 10px;
    input {
      margin-left: 5px;
    }
  }

  label:hover {
    cursor: pointer;
  }

  .items-container {
    margin: 20px 0 50px 0;
  
    .item-container {
      padding: 10px;
      box-sizing: border-box;
    }

    @import './characterItem';
  }
  
  .button-container {
    text-align: center;
  }
}
