// https://coolors.co/fcd125-000103-fdb121-f2b216-355553
$sunglow: #FCD125;
$richBlack: #000103;
$brightYellow: #FDB121;
$jonquil: #F2B216;
$darkSlateGray: #355553;
$softGray: #eeeeee;

$borderRadius: 3px;